/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}


/* Regole header */

#main_header input {
  font-family: FontAwesome, "Roboto", sans-serif;
}

/* Regole main_nav */

#main_header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
}

#logo {
  width: 150px;
}

#logo #mobile_logo{
  max-height: 100%;
  max-width: 25%;
}

#desktop_logo {
  display: none;
}

.fa-bell {
  color: orangered;
}

#menu {
  display: none;
}

#menu a {
  padding: 3px;
}

/* Regole main */

#application {
  padding-top: 50px;
  height: 100vh;
}

#application_nav {
  width: 50px;
  height: 100%;
  color: white;
  background-color: black;
}

#application_nav a{
  color: white;
  margin-left: 10px;
}


#application_nav #recap_pages {
  height: 95%;
  margin-top: 10px;
}

.desktop_nav {
  display: none;
}

#application_nav li:hover {
  background-color: grey;
  opacity: 85%;
}

#recap_pages ul:hover {
  cursor: pointer;
}

.admin_setting {
  text-align: center;
}

.admin_setting:hover {
  cursor: pointer;
  background-color: grey;
  opacity: 85%;
}

#general_infos {
  color: white;
}

.fa-square-plus {
  color: white;
  font-size: 50px;
}

.fa-square-plus:hover {
  color: grey;
}

#application #application_overview {
  width: calc(100% - 50px);
  height: calc(100vh - 50px);
  overflow: auto;
  color: black;
}

#general_infos {
  background-color: rgb(27, 114, 237);
  padding: 20px 10px;
}

#add_student, #current_page {
  margin-bottom: 20px;
}

#current_page .btn {
  font-size: 15px;
}
#next_classes, #faq, #todo_list, #active_users{
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid grey;
}

.section_title{
  padding-top: 10px;
  padding-left: 25px;
  border-bottom: 1px solid grey;
  background-color: rgb(247, 247, 247);
}

#next_classes .table{
  width: 95%;
}

#next_classes .table img{
  width: 20px;
}

#next_classes .table  tr:hover {
  background-color: grey;
  opacity: 85%;
}

#next_classes .table  tr td i{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

#next_classes .table  tr td i:hover{
  color: white;
  background-color: gray;
}

#next_classes .table  tr td i:last-child {
  margin-top: 5px;
}

#next_classes .table  tr td i:hover {
  cursor: pointer;
}

.hide, .hide_desktop{
  visibility:hidden;
}

/* Regole faq */

.question {
  border-bottom: 1px solid grey;
  width: 95%;
  margin: 5px auto;
}

.question:last-child {
  border: none;
}

.question p a {
  display: block;
  color: black;
}

/* Regole todo list */

#list {
  width: 95%;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid black;
}

/* Regole active_users */

#graph {
  width: 90%;
}

#graph img {
  width: 100%;
}

#active_users_list .section_title {
  background-color: white;
  border: none;
  margin-bottom: 10px;
}

#active_users_list a {
  text-decoration: underline;
  margin-left: 10px;
}


/* Regole responsive */

/* Regole md */

@media screen and (min-width:568px) {

  .hide{
    visibility:visible;
  }

  #show_pages {
    display: none;
  }

  #next_classes .table  tr td i:last-child {
    margin-left: 5px;
  }
}

/* Regole lg */

@media screen and (min-width:992px) {

  .hide_desktop{
    visibility:visible;
  }

  #mobile_logo {
    display: none;
  }

  #desktop_logo {
    display: inline-block;
  }

  #menu {
    display: block;
  }

  #mobile_page {
    display: none;
  }

  #application_nav {
    width: 200px;
  }

  .desktop_nav {
    display: block;
  }

  .mobile_nav {
    display: none;
  }

  #application #application_overview {
    width: calc(100% - 200px);
  }
  
}


/* DEBUG */

.col-1{
  /* color: white; */
  /* background-color: blue; */
}


.col-9, .col-12 {
  /* color: white; */
  /* background-color: violet; */
}

main {
  /* background-color: green; */
}



/* #application #application_overview {
  background-color: red;
} */